@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
html {
  color: #424448;
  font-size: 14px;
  line-height: 1.42857;
}
.container {
  width: 1270px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
}
/*  -------  Header  ------ */
.header {
  height: 800px;
  background: url("../img/header_bg.jpg") top center no-repeat;
}
.header .top {
  padding: 15px 0;
  margin-bottom: 55px;
}
.header .top .header-logo {
  float: left;
  width: 144px;
  overflow: hidden;
  margin-left: 35px;
  margin-right: 225px;
}
.header .top .header-phone {
  float: left;
  height: 40px;
  font-size: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  background: url("../img/icon-tel.png") 0 10px no-repeat;
}
.header .top .header-phone span {
  font-weight: 300;
}
.header .crm-block {
  color: #4d515b;
  padding: 15px 0;
  margin-left: 380px;
  margin-bottom: 8px;
}
.header .crm-block .crm-block-title {
  float: left;
  width: 220px;
  height: 70px;
  font-size: 62px;
  font-weight: 600;
  line-height: 70px;
}
.header .crm-block .crm-block-text {
  float: left;
  width: 460px;
  height: 70px;
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
}
.header .warranty {
  width: 560px;
  height: 92px;
  color: #202021;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin-left: 480px;
  margin-bottom: 12px;
  padding: 16px 0 16px 118px;
  background: url("../img/icon-warranty.png") left center no-repeat;
  background-size: contain;
}
.header .header-form {
  width: 600px;
  height: 290px;
  margin-left: 600px;
  position: relative;
  padding: 30px 155px 30px 0;
}
.header .header-form .form-title {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  padding-left: 62px;
  margin-bottom: 25px;
  text-transform: uppercase;
  background: url("../img/icon-arrow-down.png") 20px 14px no-repeat;
}
.header .header-form .form-group {
  margin-bottom: 20px;
}
.header .header-form .form-control {
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  display: block;
  font-size: 22px;
  line-height: 28px;
  position: relative;
  border: 1px solid transparent;
  padding: 5px 15px 5px 65px;
  background: rgba(255, 255, 255, 0.2);
}
.header .header-form .form-control.form-name {
  background: rgba(255, 255, 255, 0.2) url("../img/icon-user.png") 20px 50% no-repeat;
}
.header .header-form .form-control.form-phone {
  background: rgba(255, 255, 255, 0.2) url("../img/icon-phone.png") 20px 50% no-repeat;
}
.header .header-form .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.header .header-form .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.header .header-form .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.header .header-form p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: -10px;
}
.header .header-form .yellow-arrow-right {
  top: 132px;
  right: 116px;
  width: 19px;
  height: 26px;
  position: absolute;
  background: url("../img/yellow-arrow-right.png") 0 0 no-repeat;
}
.header .header-form .btn-header-form {
  top: 24px;
  right: 38px;
  width: 58px;
  border: none;
  outline: none;
  height: 243px;
  color: #322f2f;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  background: url("../img/btn-header-form.png") 0 0 no-repeat;
}
.header .header-form .btn-header-form:before {
  top: 108px;
  left: -39px;
  width: 19px;
  height: 26px;
  content: " ";
  z-index: 100;
  position: absolute;
  background: url("../img/yellow-arrow-right.png") 0 0 no-repeat;
}
.header .header-form .btn-header-form:hover {
  right: 37px;
}
.header .header-form .btn-header-form span {
  display: none;
}
/*  -------  Block 01 ------ */
.block01 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.block01 .text {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.block01 .text strong {
  font-weight: 400;
}
.block01 .crm {
  margin-bottom: 30px;
  background: url("../img/block01_crm_bg.png") 210px 100px no-repeat;
}
.block01 .crm li {
  float: left;
  width: 300px;
  padding: 0 15px;
  text-align: center;
}
.block01 .crm .crm-num {
  width: 100%;
  height: 200px;
  position: relative;
}
.block01 .crm .crm-num span {
  color: #f2f2f2;
  display: block;
  font-size: 200px;
  font-weight: 700;
  line-height: 200px;
}
.block01 .crm .crm-num .crm-num-small {
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  color: #424448;
  padding: 12px 0;
  font-size: 44px;
  font-weight: 400;
  line-height: 44px;
  position: absolute;
  margin-top: -36px;
  margin-left: -36px;
  border: 2px solid #424448;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.block01 .crm .crm-text {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
.block01 p {
  padding: 0 30px;
  text-align: justify;
}
/*  -------  Block 02 ------ */
.block02 {
  padding-top: 25px;
  background: #f2f2f2;
  padding-bottom: 25px;
}
.block02 .for-what {
  z-index: 20;
  display: block;
  position: relative;
  margin-left: -30px;
  padding-bottom: 50px;
}
.block02 .for-what li {
  font-size: 18px;
  line-height: 24px;
  position: relative;
  padding: 23px 0 23px 55px;
  background: url("../img/for-what-divider.png") left bottom no-repeat;
}
.block02 .for-what li:before {
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  content: " ";
  margin-top: -12px;
  position: absolute;
  background: url("../img/list-item-marker.png") 0 0 no-repeat;
}
.block02 .stamp {
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 491px;
  height: 491px;
  position: absolute;
  background: url("../img/icon-alert.png") 0 0 no-repeat;
}
/*  -------  Block 03 ------ */
.block03 {
  color: #fff;
  height: 612px;
  padding-top: 165px;
  background: url("../img/b03_bg.jpg") top center no-repeat;
}
.block03 .form-quest {
  padding-top: 25px;
  margin-left: 415px;
}
.block03 .form-text {
  float: left;
  width: 360px;
  font-weight: 600;
  text-transform: uppercase;
}
.block03 .form-text .form-title {
  font-size: 50px;
  line-height: 50px;
  position: relative;
  margin-bottom: 10px;
}
.block03 .form-text .form-title:before {
  bottom: 15px;
  right: 45px;
  width: 26px;
  height: 19px;
  content: " ";
  position: absolute;
  background: url("../img/icon-arrow-down.png") 0 0 no-repeat;
}
.block03 .form-text p {
  font-size: 20px;
  line-height: 28px;
}
.block03 .form-content {
  float: right;
  width: 395px;
}
.block03 .form-label {
  margin: 0 0 5px 0;
  color: #fff;
  width: 100%;
  height: 40px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px 0 5px 30px;
}
.block03 .form-label.label-name {
  background: url("../img/icon-user.png") 0 50% no-repeat;
}
.block03 .form-label.label-phone {
  background: url("../img/icon-phone.png") 0 50% no-repeat;
}
.block03 .form-control {
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  display: block;
  font-size: 22px;
  line-height: 30px;
  padding: 4px 15px;
  position: relative;
  text-align: center;
  border: 1px solid #a9abad;
  background: rgba(255, 255, 255, 0.2);
}
.block03 .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.block03 .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.block03 .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
/*  -------  Block 04 ------ */
.block04 {
  padding-top: 25px;
  padding-bottom: 25px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f7+0,ffffff+100 */
  background: #f7f7f7;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType=0);
  /* IE6-8 */
}
.block04 .text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.block04 .text strong {
  font-weight: 400;
}
.block04 .who li {
  float: left;
  width: 300px;
  height: 226px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 20px;
  padding: 140px 15px 0 15px;
  border-right: 1px solid #e7e7e7;
}
.block04 .who li.item1 {
  background: url("../img/b04_icon1.png") center top no-repeat;
}
.block04 .who li.item2 {
  background: url("../img/b04_icon2.png") center top no-repeat;
}
.block04 .who li.item3 {
  background: url("../img/b04_icon3.png") center top no-repeat;
}
.block04 .who li.item4 {
  border-right: none;
  background: url("../img/b04_icon4.png") center top no-repeat;
}
/*  -------  Block 05 ------ */
.block05 {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url("../img/horisontal-divider.png") top center no-repeat;
}
.block05 ul {
  height: 580px;
  position: relative;
}
.block05 ul li {
  width: 278px;
  position: absolute;
}
.block05 ul li.item1 {
  left: 0;
  top: 230px;
}
.block05 ul li.item2 {
  top: 0;
  left: 287px;
}
.block05 ul li.item3 {
  top: 0;
  left: 636px;
}
.block05 ul li.item4 {
  right: 0;
  top: 230px;
}
.block05 ul li.item5 {
  bottom: 0;
  left: 380px;
  width: 452px;
}
.block05 ul li.item5 .text {
  top: -1px;
  color: #fff;
  height: 90px;
  font-size: 36px;
  font-weight: 300;
  line-height: 45px;
  position: relative;
  padding-left: 55px;
  background: #d1b81a;
  text-transform: uppercase;
}
.block05 ul li.item5 .text:before {
  top: 0;
  left: 0;
  color: #fff;
  height: 90px;
  content: "?";
  font-size: 83px;
  font-weight: 300;
  line-height: 90px;
  position: absolute;
}
/*  -------  Block 06 ------ */
.block06 {
  padding-top: 30px;
}
.block06 h2 {
  margin-bottom: 60px;
}
.block06 .reply {
  padding-bottom: 10px;
  margin-bottom: 40px;
  background: url("../img/horisontal-divider.png") center bottom no-repeat;
}
.block06 .reply .reply-image {
  float: left;
  width: 270px;
}
.block06 .reply .reply-image img {
  margin: 0 auto;
}
.block06 .reply .reply-text {
  font-size: 18px;
  line-height: 30px;
  margin-left: 270px;
}
.block06 .reply .reply-author {
  font-size: 36px;
  line-height: 40px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.block06 .reply .reply-author:before {
  left: 0;
  bottom: 0;
  width: 90px;
  height: 2px;
  content: " ";
  position: absolute;
  background: #eede08;
}
.block06 .reply-hidden {
  display: none;
}
/*  -------  Block 07 ------ */
.block07 {
  z-index: 20;
  height: 600px;
  margin-top: -40px;
  padding-top: 220px;
  background: url("../img/b07_bg.jpg") center top no-repeat;
}
.block07 .callback-form {
  width: 785px;
}
.block07 .callback-form .form-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  margin-bottom: 20px;
}
.block07 .callback-form .form-title strong {
  font-weight: 700;
  text-transform: uppercase;
}
.block07 .callback-form .form-group {
  padding: 0 170px;
  margin-bottom: 20px;
}
.block07 .callback-form .form-control {
  color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  display: block;
  font-size: 22px;
  line-height: 28px;
  position: relative;
  border: 1px solid transparent;
  padding: 5px 15px 5px 65px;
  background: rgba(255, 255, 255, 0.2);
}
.block07 .callback-form .form-control.form-name {
  background: rgba(255, 255, 255, 0.2) url("../img/icon-user.png") 20px 50% no-repeat;
}
.block07 .callback-form .form-control.form-phone {
  background: rgba(255, 255, 255, 0.2) url("../img/icon-phone.png") 20px 50% no-repeat;
}
.block07 .callback-form .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.block07 .callback-form .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.block07 .callback-form .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
/*  -------  Block 09 ------ */
.block08 {
  padding-top: 30px;
  padding-bottom: 50px;
}
.block08 .service {
  margin-left: -30px;
  padding-right: -30px;
}
.block08 .service > li {
  float: left;
  width: 400px;
  padding: 0 30px;
}
.block08 .service .service-num {
  color: #fff;
  width: 137px;
  height: 154px;
  font-size: 81px;
  font-weight: 600;
  line-height: 137px;
  text-align: center;
  margin: 0 auto 20px auto;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.21);
  background: url("../img/b08_item.png") 0 0 no-repeat;
}
.block08 .service .service-title {
  color: #7e9130;
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
.block08 .service .service-title strong {
  font-weight: 700;
}
.block08 .service .service-title span {
  color: #5f605a;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.block08 .service .service-title:before {
  left: 50%;
  bottom: 0;
  height: 3px;
  width: 74px;
  content: " ";
  margin-left: -37px;
  position: absolute;
  background: #a9c632;
}
.block08 .service .service-text {
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
}
.block08 .service-list {
  padding: 15px 0;
}
.block08 .service-list li {
  margin-left: 5px;
  padding-left: 18px;
  position: relative;
  background: url("../img/service-list.png") 0 8px no-repeat;
}
/*  --------  Footer ------ */
.footer .container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #ccc;
}
.footer .header-logo {
  float: left;
  width: 144px;
  overflow: hidden;
  margin-left: 35px;
  margin-right: 225px;
}
.footer .header-phone {
  float: left;
  height: 40px;
  font-size: 30px;
  margin-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  background: url("../img/icon-tel.png") 0 10px no-repeat;
}
.footer .header-phone span {
  font-weight: 300;
}
.footer .btn-top {
  right: 0;
  float: right;
  color: #fff;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  padding: 10px 35px;
  text-align: center;
  position: relative;
  background: #36383d;
  text-decoration: none;
  text-transform: uppercase;
}
.footer .btn-top:hover {
  background: #555659;
}
/* Button
   ========================= */
.btn-top {
  top: 0;
  right: 160px;
  margin: 0;
  color: #fff;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  padding: 10px 35px;
  text-align: center;
  position: absolute;
  background: #36383d;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-top:hover {
  background: #555659;
}
.btn-yellow {
  z-index: 50;
  border: none;
  outline: none;
  color: #473f3f;
  font-size: 25px;
  cursor: pointer;
  line-height: 30px;
  padding: 15px 35px;
  position: relative;
  background: #e4cf0c;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-yellow:hover {
  background: #ffe814;
}
.btn-yellow:active {
  top: 1px;
}
.btn-callback {
  border: none;
  outline: none;
  color: #473f3f;
  font-size: 24px;
  cursor: pointer;
  line-height: 25px;
  position: relative;
  padding: 10px 110px;
  background: #e4cf0c;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-callback:hover {
  background: #f5df12;
}
.btn-callback:active {
  top: 1px;
}
.btn-border {
  border: none;
  outline: none;
  color: #322f2f;
  font-size: 32px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 30px;
  line-height: 40px;
  padding: 30px 80px;
  position: relative;
  background: #e4cf0c;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-border:before {
  top: -15px;
  left: -15px;
  right: 15px;
  bottom: 15px;
  content: " ";
  position: absolute;
  border: 7px solid #fff;
  background: transparent;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-border:hover:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn-border:active {
  top: 1px;
}
.help-block {
  display: none;
  visibility: hidden;
}
/* Typography
   ========================= */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h2 {
  height: 74px;
  font-size: 36px;
  line-height: 44px;
  padding: 10px 30px;
  position: relative;
  margin-left: -30px;
  margin-bottom: 25px;
  display: inline-block;
  text-transform: uppercase;
  border: 5px solid #eede08;
}
h2:after {
  width: 100%;
  content: " ";
  display: block;
}
p {
  padding: 0;
  margin: 0 0 20px 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
strong {
  font-weight: 600;
}
.text-right {
  text-align: center;
}
