@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
html {
  color: #424448;
  font-size: 1em;
  line-height: 1.4;
}
.container {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.header {
  height: 800px;
  background: url("../img/header_bg.jpg") top center no-repeat;
}
.header .top {
  padding: 13px;
  margin-bottom: 59px;
}
.header .top .header-logo {
  float: left;
  width: 144px;
  overflow: hidden;
  margin-left: 40px;
  margin-right: 210px;
}
.header .top .header-phone {
  float: left;
  height: 40px;
  color: #424448;
  font-size: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  background: url("../img/icon-tel.png") 0 10px no-repeat;
}
.header .top .header-phone span {
  font-weight: 300;
}
.header .crm-block {
  color: #4d515b;
  padding: 15px 0;
  margin-left: 380px;
  margin-bottom: 8px;
}
.header .crm-block .crm {
  float: left;
  width: 220px;
  height: 70px;
  font-size: 62px;
  font-weight: 600;
  line-height: 70px;
}
.header .crm-block .crm-text {
  float: left;
  width: 460px;
  height: 70px;
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
}
.header .warranty {
  width: 560px;
  height: 92px;
  color: #202021;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin-left: 480px;
  margin-bottom: 12px;
  padding: 16px 0 16px 118px;
  background: url("../img/icon-warranty.png") left center no-repeat;
  background-size: contain;
}
.header .header-form {
  width: 600px;
  height: 290px;
  margin-left: 600px;
  position: relative;
  padding: 30px 155px 30px 0;
}
.header .header-form .form-title {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  padding-left: 62px;
  margin-bottom: 25px;
  text-transform: uppercase;
  background: url("../img/icon-arrow-down.png") 20px 14px no-repeat;
}
.header .header-form .form-group {
  margin-bottom: 20px;
}
.header .header-form .form-control {
  color: #fff;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  display: block;
  font-size: 22px;
  line-height: 30px;
  position: relative;
  padding: 5px 15px 5px 65px;
  background: rgba(255, 255, 255, 0.2);
}
.header .header-form .form-control.form-name {
  background: rgba(255, 255, 255, 0.2) url("../img/icon-user.png") 20px 50% no-repeat;
}
.header .header-form .form-control.form-phone {
  background: rgba(255, 255, 255, 0.2) url("../img/icon-phone.png") 20px 50% no-repeat;
}
.header .header-form .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.header .header-form .form-control:-ms-input-placeholder {
  color: #ffffff;
}
.header .header-form .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
.header .header-form p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-top: -10px;
}
.header .header-form .yellow-arrow-right {
  top: 132px;
  right: 116px;
  width: 19px;
  height: 26px;
  position: absolute;
  background: url("../img/yellow-arrow-right.png") 0 0 no-repeat;
}
.header .header-form .btn-header-form {
  top: 24px;
  right: 38px;
  width: 58px;
  border: none;
  outline: none;
  height: 243px;
  color: #322f2f;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  background: url("../img/btn-header-form.png") 0 0 no-repeat;
}
.header .header-form .btn-header-form:before {
  top: 108px;
  left: -39px;
  width: 19px;
  height: 26px;
  content: " ";
  z-index: 100;
  position: absolute;
  background: url("../img/yellow-arrow-right.png") 0 0 no-repeat;
}
.header .header-form .btn-header-form:hover {
  right: 37px;
}
.header .header-form .btn-header-form span {
  display: none;
}
/* Form & button
   ========================= */
.btn-top {
  top: 0;
  right: 155px;
  margin: 0;
  color: #fff;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  padding: 10px 35px;
  text-align: center;
  position: absolute;
  background: #36383d;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-top:hover {
  background: #555659;
}
/* Typography
   ========================= */
p {
  padding: 0;
  margin: 0 0 10px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-right {
  text-align: center;
}
